composer.phar
tags
.DS_STORE
.netrwhist
.netrwhist~
*.php~
*.twig~
.netrwhisz~
.vagrant
*.pyc
test-commands
dump.rdb
custom_plan.rb
zeus.json
.jhw-cache/*
Guardfile
.springify
.rspec

# direnv config
.envrc
database.sql
